
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;

}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-logo p{
    color: #171717;
}
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}
.nav-menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.nav-menu li a{
    text-decoration: none;
}
.nav-menu hr{
    width: 30px;
    background-color: #ff4141;
    border: none;
    border-radius: 10px;
    height: 3px;
    margin-top: 10px;
    margin-left: 10%;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-cart button{
    width: 150px;
    height: 50px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color: #f3f3f3;
}
.nav-login-count{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    margin-top: -35px;
    margin-left: -35px;
    background: red;
    color: white;
}